body{
    background: url("../images/backGround_sea.jpg");
    background-size: cover;
    font-family: "Nunito", sans-serif;
    /*border: 20px solid #bdc3c7;*/
    /*padding: 20px;*/
    padding-top: 70px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: Source Sans Pro;
}
#mainNavbar{
    font-size: 1.2rem;
    font-weight: 100;
    float: left;
    background-color: lightcoral;
}

#mainNavbar .nav-link{
    color: beige;
}

#mainNavbar .nav-link:hover{
    color: #EA1C2C;
}

#mainNavbar .navbar-brand{
    color: #EA1C2C;
}
#mainNavbar span {
    color: darkred;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 550ms;
}
.head-title {
    margin-left: 20px;
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    font-weight: bolder;
}
.quote {
    border-left: 7px solid maroon;
    padding-left: 7px;
}

.date  {
    color: black;
    letter-spacing: 0.2rem;
    margin: 10px;
}
.post {
    margin: 20px;
    background-color: pink;
    border-radius: 10px;
    /*background-image: url("/images/homeBkgrd.jpg");*/
}
.post p {
    font-family: 'Baloo Chettan 2', cursive;
}

h2 {
    color: maroon;
    font-size: 2.0rem;
    font-family: 'Cormorant Upright', serif;
}
/*horizontal line style brought from css-trick web site ... thanks*/
hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}